/*.head{
    background-color: rgb(54, 54, 54);
    margin: 0;
    height: 75px;
}
*/
.head {
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-link-top{
    float: left;
    list-style: none;
}

.nav-link-a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}